<h1>Editing beer</h1>

<form>
  <div class="field">
    Brewer<br />
    <input name="brewer" />
  </div>
  <div class="field">
    Name<br />
    <input name="name" />
  </div>
  <div class="field">
    Style<br />
    <input name="style" />
  </div>
  <div class="field">
    ABV<br />
    <input name="abv" />
  </div>
  <div class="field">
    IBU<br />
    <input name="ibu" />
  </div>
  <div class="actions">
    <input type="submit" />
  </div>
</form>

<a href="">Show</a> |
<a href="#">Back</a>
