<h1>Listing beers</h1>

<table id="beer-list">
  <thead>
    <tr>
      <th>Brewer</th>
      <th>Name</th>
      <th>Style</th>
      <th>Abv</th>
      <th>Ibu</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
</table>

<br />

<a href="#new">New Beer</a>
