<ul id="beer-list">
	<li>
		<div class="chk"></div>
		<p class="brewer head"><strong>Brewer</strong></p>
		<p class="name head">Name</p>
		<p class="style head">Style</p>
		<p class="abv head">ABV</p>
		<p class="ibu head">IBU</p>
		<p class="edit head">&nbsp;</p>
	</li>
</ul>
<div class="buttons">
	<a href="#new" class="blueButton">New Beer</a>
</div>
