<div class="datalist">
	<div class="heading">
		<h2>Beer list</h2>
	</div>
	<ul id="beer-list">
		<li>
			<div class="chk"></div>
			<p class="brewer head"><strong>Brewer</strong></p>
			<p class="name head">Name</p>
			<p class="style head">Style</p>
			<p class="abv head">Abv</p>
			<p class="ibu head">Ibu</p>
			<p class="edit head">Edit/Delete</p>
		</li>
	</ul>
</div>

<br />
<a href="#new">New Beer</a>
