<div class="data">
	<div class="heading">
		<h2 id="title"></h2>
	</div>
	<div id="notice"></div>
	<div id="app"></div>
</div>

<script type="text/javascript">
    $(function() {
        BeerShop.initialize();
    });
</script>
