// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, four_equalsquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, tr, th, td, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, input, textarea {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font-weight:normal;
	vertical-align:baseline;
}
body {
	line-height:1
}
ol, ul {
	list-style:none
}
four_equalsquote, q {
	quotes:none
}
four_equalsquote:before, four_equalsquote:after, q:before, q:after {
	content:'';
	content:none
}
:focus {
	outline:0
}
a {
	text-decoration:none
}

/* General */
html, body {
	height: 100%;
}
body {
	background:image_url('topLine.png') repeat-x
}
#foot {
	width:100%;
	height:40px;
	float:left;
}
#foot p {
	width:100%;
	float:left;
	margin-top:24px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#8e8e8e;
	line-height:16px;
	text-align:center
}
#foot p a {
	color:#8e8e8e
}
#foot p a:hover {
	color:#1552A0
}
#admin {
	width:100%;
	float:left;
	min-height:100%;
	height:auto !important;
	height:100%;
	background:image_url('headBg.png') repeat-x left top
}
.bgc {
	background:image_url('bodyBg.png') repeat
}
#wrap {
	width:980px;
	margin:0 auto
}
#admin h1 {
	width:auto;
	height:53px;
	float:left;
	margin-top:60px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:29px;
	color:#FFF;
	line-height:34px;
	text-transform:uppercase;
	cursor:default
}
#admin h1 div {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:11px
}
#admin h1 a {
	color:#ffffff
}
#admin #head {
	width:100%;
	height:376px;
	float:left;
	position:relative;
	background:image_url('innerPageFX.png') no-repeat 137px 0
}
#admin #head .logo {
	position:absolute;
	left:40%;
	top:100px;
}
#admin #head .shadow {
	width:auto;
	float:left;
	position:absolute;
	bottom:0;
	left:-150px
}
#content {
	width:100%;
	float:left;
	padding-bottom:20px
}
